<footer class="footer">
    <div class="container">
        <div class="row">

            <div class="col-md-3 col-6">
                <p><a href="#Home" class="d-block">Home</a></p>
                <p><a href="#about" class="d-block">About</a></p>
            </div>
            <div class="col-md-3 col-6">
                <p><a href="#services" class="d-block">Service</a></p>
                <p><a href="#portfolio" class="d-block">Portfolio</a></p>
            </div>

            <div class="col-md-3 col-12 text-center text-md-start">

                <p><a href="#contact" class="d-block">Contact</a></p>
                <p>Email: maheshpatilgmail.com</p>
                <p>Phone: +91-7620177830</p>

            </div>


            <div class="col-md-3 col-12 social-section">
                <p><a class="d-block">Follow Us</a></p>

                <div class="social-icons">
                    <a href="https://github.com/mahesh-chandane" target="_blank" class="social-icon"><i
                            class="fa fa-github"></i></a>
                    <a href="https://www.linkedin.com/in/mahesh-chandane" target="_blank" class="social-icon"><i
                            class="fa fa-linkedin"></i></a>
                    <a href="https://www.twitter.com" target="_blank" class="social-icon"><i
                            class="fa fa-twitter"></i></a>
                </div>
            </div>
        </div>
    </div>
    <hr>
</footer>